.unit-page{
    padding-bottom: 40px;
}

.unit-cards{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.unit-card{
    margin: 0 5px 20px;
    width: 20%;
    background-color: aliceblue;
}
.unit-card img{
    max-width: 100%;
}
.unit-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.unit-pag__active{
    border: 1px solid black;
}
.unit-pagination div{
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: aliceblue;
}





.study-page_links {
    display: flex;
    justify-content: space-around;
}

.buttons__container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 50px;
}

.buttons__container a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    margin: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    display: flex;
}

li .word-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    width: 450px;
    height: 300px;

    margin: 20px;
    padding: 10px;

    background-size: cover;
}

.word-card-details {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);

    border-radius: 5px;
}

.groop-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.word-actions button{
    margin-left: 10px;
}

.groop-buttons audio {
    width: 100px;
    margin-right: 50px;
}

